*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*user-select: none;*/
}
ul{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
/* Change Brand Font */
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: 600;
}
/*.navbar-text{
	font-size: .5em;
	font-weight: 300;
}*/
.button{
	font-size: 1em;
	font-weight: 500;
	letter-spacing: .3px;
	color: #fff;
}
.button:hover{
	/*letter-spacing: 1.3px;*/
	transition: .5s ease-in-out;
	color: #333;
}
/* Change Navigation Color */
.navbar #myMenu .custom-nav .nav-item a {
	font-size: 1em;
	font-weight: 500;
	color: #555;
	opacity: .5;
}
.navbar #myMenu .custom-nav .nav-item:hover a,
.navbar #myMenu .custom-nav .nav-item.active a{
	opacity: .9;
}

/* Make Header Image Responsive */
.back{
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(background.jpg) no-repeat center/cover;
  min-height: 70vh;
  border-radius: 0px;
  margin-top: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Image Sub-Title */
.st {
  font-size: 1.5em;
}

#services h2 span,
#courses h2 span,
#contact h2 span{
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 1px;
	color: #333;
	text-transform: uppercase;
	border-bottom: 3px solid #ffc300;
}
#courses .content{
	/*border: 1px solid;*/
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact a {
  color: #999;
  text-decoration: underline;
}
#contact a:hover {
  color: #ffc300;
}

/* Change Footer Social Icon Color */
.social a{
  color: #adadadad;
}
.social a:hover {
  color: #ffc300;
  transition: .3s linear;
}

/*@media(max-width: 1020px){
	.navbar{
		display: flex;
	}
	.navbar .collapse{
		position: absolute;
		right: 10%;
	}
	.navbar .form-inline{
		display: none;
	}
}
@media(max-width: 767px){
	.navbar{
		display: block;
	}
	.navbar-toggler{
		position: relative;
		top: 0;
		right: -40%;
	}
}*/

